@media only screen and (min-width: 400px) {
    .app {}
}

.page {
    display: flex;
    flex-direction: column;
    height: calc(106vh - 60px);
}

.logo {
    width: 10vh;
    height: auto;
}

.header {
    display: flex;
    margin: 4px 4px 0px 4px;
}

.header>span {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.notification,
.profile {
    width: 3.5vh;
    height: auto;
    margin: 0 3px;
    cursor: pointer;
}

.content{
    flex: 1;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#vision {
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 3px 0px #888888;
  }
  
#mission {
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 3px 0px #888888;
  }
  

.content>.back {
    justify-content: unset !important;
}
.content>.back>span>b {
    font-size: 5vw;
    color: orangered;
}

h4{
    color: orangered;
}

#imgrounded1{
    border-radius: 50%;
}

#imgrounded2{
    border-radius: 50%;
}

#imgrounded3{
    border-radius: 50%;
}

#imgrounded4{
    border-radius: 50%;
}

.basic-info>tbody>tr>td{
    text-align: center !important;
    width: 33.3%;
}

.basic-info>tbody>tr>td>span{
    font-size: 13px;
}

.basic-info>tbody>tr>td>strong{
    font-size: 14px;
}

.basic-info>tbody>tr{
    display: flex;
}




/* FOOTER */

.footer {
    display: flex;
    height: 5vh;
    background: #05053a;
}

.footer>span {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer>span>img {
    width: 3.5vh;
    cursor: pointer;
}

.footer>span>.cart {
    position: absolute;
    top: -2.9vh;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background: #E5D600;
    display: flex;
    justify-content: center;
}

.footer>span>.cart>img {
    width: 3.5vh;
    cursor: pointer;
}