.page {
    display: flex;
    flex-direction: column;
    height: calc(113vh - 60px);
}


.logo{
    width: 10vh;
    height: auto;
}


.header{
    display:flex;
    height:auto;
}

.header>span{
    display:flex;
    flex:1;
    justify-content: flex-end;
}

.notification,
.profile{
    width:3.5vh;
    height: auto;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 60%;
}

.content>.back>span>b {
    font-size: 5vw;
    color: orangered;
}

.horizontal {
    display: flex;
    justify-content: flex-start;
}

.vertical{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.main-container{
    height: 100%;
   
}

.main-container > .cont-1{
    flex: 0 20%;
}

.main-container > .cont-1>img{
    margin: 0 auto;
    width: 10vh;
}

.main-container > .cont-2{
    flex: 0 80%;
}

.main-container > .cont-2{
    justify-content: flex-start;
}

.main-container > .cont-2>div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.main-container > .cont-2>div>span{
    padding: 5px 0;
    font-weight: bold;
}

.main-container > .cont-2>div>input{
    margin-bottom: 2vh;
}

.main-container > .cont-2>.btn-cont{
    align-items: flex-end;
}

.btnView{
    background-color: #FF3D00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: white;
    padding: 12px;
    width: 45%;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
}

 .footer {
    display: flex;
    height: 5vh;
    background: #0F0F74;
}

.footer>span {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer>span>img {
    width: 3.5vh;
    cursor: pointer;
}

.footer>span>.cart {
    position: absolute;
    top: -2.9vh;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background: #E5D600;
    display: flex;
    justify-content: center;
}

.footer>span>.cart>img {
    width: 3.5vh;
    cursor: pointer;
}

 

