.primary-search-bar {}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontal {
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: transparent;
}

.nav-back{
    font-size: 4.5vh !important;
    font-size: 4vh !important;
    margin-right: 5px;
    color: orangered;
}