@media only screen and (min-width: 750px) and (min-height: 1000px) {
    .wrap-contact100 {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
}

.page {
    display: flex;
    flex-direction: column;
    height: calc(106vh - 60px);
}

.logo {
    width: 10vh;
    height: auto;
}

.header {
    display: flex;
    margin: 4px 4px 0px 4px;
}

.header>span {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.notification,
.profile {
    width: 3.5vh;
    height: auto;
    margin: 0 3px;
    cursor: pointer;
}

.content {
    flex: 1;
}

.content>.back {
    justify-content: unset !important;
}

.content>.back>span>b {
    font-size: 5vw;
    color: orangered;
}

.horizontal {
    justify-content: unset !important;
}

.icon-grp {
    margin: 5px 0px;
}

.icon-grp>strong {
    margin-left: 6px;
}

.wrap-contact100-form-btn {
    justify-content: flex-end;
    display: flex;
}

.contact100-form-btn {
    background-color: #FF3D00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 25%;
}

.input100 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact100-form.validate-form {
    padding: 10px;
}

.wrap-contact100,
.map-content {
    flex: 1;
}

.wrap-contact100>h1 {
    margin: -4px;
}

.wrap-contact100>h5 {
    margin: 7px 6px 18px 1px;
}


/* FOOTER */

.footer {
    display: flex;
    height: 5vh;
    background: #05053a;
}

.footer>span {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer>span>img {
    width: 3.5vh;
    cursor: pointer;
}

.footer>span>.cart {
    position: absolute;
    top: -2.9vh;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    background: #E5D600;
    display: flex;
    justify-content: center;
}

.footer>span>.cart>img {
    width: 3.5vh;
    cursor: pointer;
}