.title1{
    color: red;
}

.button {
    background-color: #FFB300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
  }

  #pg-signup{
    color: red;
    cursor: pointer;
    user-select: none;
  }

  .button1 {border-radius: 25%;} 

  .container label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-align: left;
    font-size: 12px;
  } 
  

  .button_1 {
    background-color: #FF3D00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
  }

  .button2 {border-radius: 25%;}

  a:link {
    color: red;
    text-decoration: none;
  }

 

 